:root {
  --light-green: #67cf85e5;
  --dark-green: #275c36;
  --grey-green: #5c8c6c;
  --white: #d3ecda;
  --true-white: #ffffff;
  --grey: #b4ccbb;
  --dark-grey: #343c3c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

footer {
  background-color: var(--grey);
  text-align: center;
}

.ant-layout-header {
  font-size: 20pt;
  background-color: var(--light-green);
}

.FancyText {
  text-shadow: var(--dark-grey) 3px 3px 3px;
  color: #fff;
}

.ant-menu {
  background-color: var(--light-green);
  float: right;
  padding-right: 100px;
}

.ant-menu-item {
  color: white;
  background-color: var(--light-green);
  font-weight: bold;
  font-size: medium;
}

.ant-menu-item-selected {
  background-color: var(--grey-green) !important;
}


/* Layout Page */



.ant-carousel {
  background-color: var(--grey-green);
}

.ant-carousel img {
  width: 100%;
  object-fit: cover;
}

.Carousel-Wrapper {
  position: relative;
}

.Carousel-Caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: auto;

  z-index: 1;
  font-size: 50pt;

}

.Carousel-Caption p {
  font-size: 30pt;
}

.RoutesWrapper {
  display: flex;
  width: 100%;
  background-color: #f5f5f5;
  border: 0px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.RouteServicesWrapper,
.RouteDoctorsWrapper {
  flex-basis: 50%;
  cursor: pointer;
}

.RouteServices,
.RouteDoctors {
  height: 50vh;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  text-align: center;
  z-index: 1;

}

@media (min-width: 800px) {

  .RouteServices,
  .RouteDoctors {
    font-size: 40pt;
  }
}

@media (max-width: 800px) {

  .RouteServices,
  .RouteDoctors {
    font-size: 20pt;
  }
}

.RouteServices:hover,
.RouteDoctors:hover {
  background-color: var(--dark-green);
  color: white !important;
}


.RouteServices {
  background-color: var(--light-green);
}

.RouteDoctors {
  background-color: var(--light-green);
}


.PageHeader {
  height: 30vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60pt;
  font-weight: 700;
  background: linear-gradient(to bottom right, var(--dark-green), var(--grey-green));
}



/* Specialization Block */



.SpecializationBlock {
  background-color: var(--white);
}

.SpecializationContainer .SpecializationBlock:nth-child(2n) {
  background-color: var(--light-green);
}


.SpecializationHeader {
  text-align: center;
  border-color: black;
  font-size: 30pt;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.DoctorMiniContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
  position: relative;
}

.DoctorMiniWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DoctorMiniIcon {
  object-fit: cover;
  object-position: center;
  width: 96px;
  height: 96px;
  align-self: center;
  border-radius: 3px;
  border-radius: 100%;
  overflow: hidden;
}

.DoctorMiniFIO,
.DoctorMiniYears {
  font-size: 15pt;
  font-weight: 500;
  width: 50%;
  text-align: center;
  font-family: monospace;

  padding: 0;
}

.DoctorMiniYears {
  margin-bottom: 15px;
}


/* ServicePage */

.ant-collapse-arrow {
  position: absolute;
  top: 40%;
  right: 35px;
  transform: translateY(-50%);
  transform: scale(1.6);
}

.ServiceContainer {
  background-color: var(--white);
  padding: 1px;
}

.ServiceCollapse {
  margin: 1% 2% 1% 2%;
  border-radius: 40px;
  overflow: hidden;
}

.ServicePanel {
  text-align: left;
  font-size: 30pt;
  background-color: var(--light-green);

}

.ant-collapse-header-text {
  text-shadow: var(--dark-grey) 2px 2px 2px;
  color: #fff;
}

.ServiceField {
  display: flex;
  justify-content: space-between;
}

.ServiceField div {
  flex: 1;
  display: flex;
}

.ServiceField div::after {
  content: " ";
  flex: 1;
  border-bottom: 4px dotted #000;
  margin-left: 15px;
  margin-right: 15px;
}

.butWrap {
  display: flex;
  justify-content: center;
}

.ServiceAppointmentButton {
  text-align: center;
  background-color: var(--light-green);
  font-size: 35pt;

  border-radius: 20px;
  border-color: transparent;
  overflow: hidden;
  height: auto;

}


.ServiceAppointmentButton:hover {
  background-color: var(--white);
  color: white !important;
  border-color: transparent !important;
}

.ServiceAppointmentButton:active {
  background-color: var(--dark-green);
  color: white !important;
  border-color: transparent !important;
}




/* DoctorInfoPage */



.MainInfoBlock {
  display: flex;
  justify-content: center;
  background-color: var(--white);
}

.DoctorImage {
  margin: 20px;
  border-radius: 20%;
}

.TextInfoBlock {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 30pt;
  font-family: monospace;
}

.TextInfoBlock p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.ScheduleBlock {
  padding: 1px;
  background-color: var(--true-white);

}

.ScheduleBlock .ant-picker-calendar {
  margin: 5%;
}

/*
  LOGIN
*/

.FormWrapper {
  padding: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--light-green);
  height: 50vh;
}


.FormItemClass .ant-form-item-label > label, .FormItemClass label{
  font-size: 30px;
  font-weight: bolder;
  color: white;
}

.FormItemClass {
  line-height: 52px;
}

.FormItemCheckBox {
  line-height: 20px;
}

.FormButton {
  text-align: center;
  background-color: var(--dark-green);
  color: white;
  font-size: 20pt;
  border-radius: 20px;
  border-color: transparent;
  overflow: hidden;
  height: auto;
}

.FormButton:hover {
  background-color: var(--white);
  color: black !important;
  border-color: transparent !important;
}

.FormButton:active {
  background-color: var(--dark-grey);
  color: white !important;
  border-color: transparent !important;
}


/*

ACCOUNT

*/

.AccountBlock {
  background-color: var(--light-green);
  padding: 10px;
}

.AccountContainer .AccountBlock:nth-child(2n) {
  background-color: var(--white);
}


.AccountFIO {
  padding: 20px;
  font-size: 45pt;
  font-weight: bold;
}

.AccountDOB {
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 25pt;
}

.AccountFirstBlock {
  display: flex;
  justify-content: space-between;
}

.LogoffButton {
  margin: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.AccoutBlockHeader {
  text-align: center;
  font-size: 35pt;
  padding: 5px;
  font-family: monospace;
  color: var(--dark-grey);
}

.WhiteHeader {
  color: var(--true-white);
}

.AccountContainer .AccountBlock:nth-child(2n + 1) .ServicePanel{
  background-color: var(--dark-green);
}


/*

Schedule in Account

*/

.ScheduleRow {
  display: flex;
  justify-content: center;
}

.ScheduleCol {
  margin: 5px;
}

.ScheduleCard {
  background-color: var(--grey-green);
  transition: background-color 0.3s ease;
}

.ScheduleCard:hover {
  cursor: pointer;
}

.SelectedCard {
  background-color: var(--dark-green);
  transform: scale(1.1);
}

.ScheduleCard:active {
  background-color: var(--light-green);
}

.ScheduleCard .ant-card-meta-title {
  color: var(--true-white);
}

.ScheduleSlider {
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
}

.ScheduleSlider .ant-slider-track{
  background-color: var(--grey-green) !important;
  height: 15px;
}

.ScheduleSlider .ant-slider-track:hover {
  background-color: var(--light-green) !important;
}

.ScheduleSlider .ant-slider-track:active {
  background-color: var(--light-green) !important;
}

.ScheduleSlider:hover .ant-slider-track{
  background-color:  var(--light-green) !important;
}

.ScheduleSlider .ant-slider-rail{
  height: 15px;
  background-color: var(--grey) !important;
}

.ScheduleSlider .ant-slider-handle::after, .ScheduleSlider .ant-slider-handle:hover::after,.ScheduleSlider .ant-slider-handle:focus::after   {
  width: 20px;
  height: 20px;

}
.ScheduleSlider.ant-slider-handle::after,.ScheduleSlider .ant-slider-handle-1::after {
  background-color: var(--true-white) !important;
}

.ScheduleSlider .ant-slider-handle::before, .ScheduleSlider .ant-slider-handle-1::before {
  border-color: var(--dark-green) !important;
}

.ant-slider-dot{
  border-color: var(--light-green) !important;
  font-size: 20px;
  margin-top: 5px;
  transform: scale(2.2) !important;
}

.ScheduleSlider:hover .ant-slider-dot-active{
  border-color: var(--grey-green) !important;
}

.ScheduleSlider .ant-slider-mark-text {
  margin: 10px 0;
}


/*

SLOTS

*/

.SlotGroup {
  overflow: hidden
}


.ant-radio-button-wrapper  {
  overflow: hidden;
  margin: 5px;
  border-left-width: 1px;
  border-radius: 10px;
}


